<% if logged_in? %>
<div id='new-question-container'>
  <form method="POST" action="/questions">
    <h4>Post your question here:</h4>
    Title: <input type="text" name="new_question[title]" placeholder="Title" ><br><br>
    Content: <input type="text" name="new_question[body]" placeholder="Content" ><br><br>
    <input type="submit" value="Post Question">
  </form>
</div>
<% end %>
