<% if @errors %>
  <ul>
  <% @errors.each do |error| %>
    <li><%= error %></li>
  <% end %>
  </ul>
<% end %>

<% if @gameover %>
<div class="alert">Your Account has Been Deleted</div>
<div id='gameover'>GAME OVER</div>
<% end %>
<%= erb :"/questions/_new", :layout => false %>
<div id="text-container">
  <ul>
    <% @questions.each do |question| %>
      <%= erb :"/questions/_homepage-index", layout: false, locals: {question: question} %>
    <% end %>
  </ul>
</div>
