<h1> WELCOME TO GAMEOVERFLOW !!! </h1>
<% @questions.each do |question| %>
<ul>
  <li>
    <a href="/questions/<%= question.id %>"><%= question.title %></a><br>
    <form></form>
    <span>question.votes.value.sum (fix votes)</span>
    <span><%= question.author.username %></span>
    <span><%= question.created_at %></span>
  </li>
</ul>
<% end %>
