<% if logged_in? %>
<div>
  <form method="POST" action="<%= path %>">
    <h4>Post your comment here:</h4>
    Content: <input type="text" name="content" placeholder="Content"><br><br>
    <input type="submit" value="Post Comment">
  </form>
</div>
<% end %>


