<h1>Login</h1>
<div class="alert">
<% if @errors %>
  <ul>
  <% @errors.each do |error| %>
  <li><%= error %></li>
  <% end %>
</ul>
<% end %>
<% if @failed_user %>
<ul>
  <li>Email not recognized. Do you need to <a href="/users/new">create an account?</a></li>
</ul>
<% end %>
</div>

<form class="form-group" action="/users/login" method="post">
  <label>Email</label>
  <input type="email" name="email" />
  <label>Password</label>
  <input type="password" name="password" />
  <input type="submit" value="Login" />
</form>

